# This file should will be copied into "/etc/systemd/system"
# once you're done, enable the service:
# systemctl enable otg_gadget.service

[Unit]
Description=Enable usb otg gadget

[Service]
Type=oneshot
ExecStart=/abft/resources/hardware/otg_gadget.sh enable
ExecStop=/abft/resources/hardware/otg_gadget.sh disable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
